.home-section {
  .home-bloc {
    width: 30%;
    height: 150px;
    background-color: $secondary-light;
    margin: auto;
    display: flex;

    & > * {
      font-size: 20px;
      margin: auto;
    }
  }
}