div.header {
  background-color: $secondary-dark;
  box-shadow: $small-shadow;
  padding: 1.5rem;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  height: 40px;

  .left {
    display: flex;
    flex-direction: row;

    .logo {
      width: 5px;
      height: 100%;
      background-color: $secondary-light;
      margin-right: 1em;
    }

    h1, h2 {
      margin: 0;
      color: $secondary-light;
    }
  }

  .right {
    margin-left: auto;
  }
}