$input-font-size: 1em;
$input-padding: 1em;

@include colorPlaceholder($secondary-light);

.form-group {
  margin: 0.5em 0;

  .form-control {
    padding: $input-padding;
    font-size: $input-font-size;
    color: $text-primary;
    border-color: $text-primary;
    border-left: none;

    &:focus {
      border-color: $text-primary;
      box-shadow: none;
    }
  }

  .input-group-text {
    border-color: $text-primary;
    background-color: $primary;

    &.is-invalid {
      background-color: $error-secondary;
    }
  }

  .is-invalid {
    @include colorPlaceholder($danger);
    border-color: $danger;
  }
}

.btn.btn-concert-default {
  padding: $input-padding;
  color: $text-primary;
  font-size: $input-font-size;
}